*{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-style: bold;
    font-variant: small-caps;
    text-transform: none; 
}

html{
    overflow: hidden;
    font-size: 20px;
    letter-spacing: 0px;
    color: #000000;

    text-decoration: none;
    font-style: bold;
    font-variant: small-caps;
    text-transform: none; 
    
}

#backround{
    background-image: url(https://media.istockphoto.com/photos/wide-green-screen-web-stream-background-picture-id178727840?k=20&m=178727840&s=612x612&w=0&h=kjYiBPqUGV0uJtWmPJbe-V2O5v53YzNnvFlN1ccCd4w=);
    background-size: cover;
    background-color: #a7c957;
    z-index: 0;
}

.container-grid{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 22% 40% 22% 1fr;
    grid-template-rows: 10% 40% 15% 10% 10% auto;
    justify-items: center;
    font-family: 'Arial Black', Gadget, sans-serif;              
}

.header{
    grid-column-end: 4;
    grid-row: 1; 
}

.new-game{
    justify-items: end;
    margin-top: 10%;
    background-color: white;
       
}

#newgame
:hover,
:focus,
:active,
:visited,
:link
{
    text-decoration: none;
    
    
}

a #modal{
    color: white;
}
#body{
    grid-column-start:2;
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    z-index: 2;
    margin: 0%;
    padding-top: 10%; 
    justify-self: left;
}

.player1{
    grid-column-end: 3;
    grid-row-start: 2;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;  
    position: relative; 
    z-index: 1;
}

.player2{
    grid-column-start: 4;
    grid-row-start: 2;
    grid-gap: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;   
}


/*image joueur1*/
#joueur1{
    border-radius: 9%;  
}

/*image joueur2*/
#joueur2{
    border-radius: 9%;
    padding-right: 1%;
    
    
}

/*anim joueur actif*/
.clignote{
        color: yellow;
        animation: clignote 1s linear 1s 5s;
}
      @keyframes clignote {  
        50% { opacity: 0; }
        
      }
      

ul img {
    list-style: none;
    grid-column-end: 2;
    grid-row-start: 2;
    animation: myAnim 0.7s linear 0s forwards;
    transition-property: opacity;
    transition-duration: 15s, 10s;
    display: flex;
    justify-content: start;
    padding:auto;
    margin-top: 200%;
    }

    @keyframes myAnim {
        from { 
                transform: translateX(-50px) rotate(0);       
        }
            to {
                transform: translateX(110px) rotate(1turn);     
            } 
        }
    
/*bouton roll1*/
#roll1{ 
    background-color: #800e13;
    border-radius: 10%;
    margin-top: 2%;
    margin-bottom: 10%; 
    color: white;  
    text-shadow:#000000;
}

.roll1{
    grid-column-start: 2;
    grid-row-start: 6;    
}
/*bouton roll2*/
#roll2{
    background-color: #800e13;
    border-radius: 10%;
    margin-top: 2%;
    color: white;
    text-shadow:#000000;
}

.roll2{
    grid-column-end: 5;
    grid-row-start: 6;    
}

/*BOUTONS RECOLTER*/
#hold1{
    
    Background-color: black;
    color: white;
}

#hold2{
    
    Background-color: black;
    color: white;
}

.hold1{
    grid-column-start: 2;
    grid-row-end: 5; 
    padding-bottom: 15%;
    color: black;
    font-weight: bold;
}

.hold2{
    grid-column-start: 4;
    grid-row-end:5;
    padding-bottom: 15%;
    color: black;
    font-weight: bold;
}

#round1{
    grid-column-start: 2;
    grid-row: 5;
    align-items: end;
    color: black;
    text-shadow:#000000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30%;  
}

#message1{
    font-size: 25px;
}
#round2{
    grid-column-start: 4;
    grid-row: 5;
    align-items: end;
    color: black;
    text-shadow:#000000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10%;
    margin-bottom: 10%; 
} 

#message2{
    font-size: 25px;
}

.score-global1{
    font-size: 20px;
    color: #0d0a0b;
    font-weight: bold;
    grid-column: 2;
    grid-row-start: 3;    
}

#messageglobal2{
    font-size: 25px;
}

#messageglobal1{
    font-size: 25px;
}
.score-global2{
    font-size: 20px;
    color: #0d0a0b;
    font-weight: bold;
    grid-column: 4;
    grid-row: 3;
    
}

button{
    box-shadow: 0 0 10px gray;
}

:hover,
:focus,
:active,
:visited,
:link
{
    text-decoration: none;
    color: #0d0a0b;
}

audio{
    height: 10vh;
    width: 20vh;
}
/*bouton joueur1 actif
.circle1{
    visibility: hidden;
    opacity: 0;
}
/*bouton joueur1 actif
.circle2{
    visibility: hidden;
    opacity: 0;
}*/

/*modal pour joueuractif*/
.modal a {
        text-decoration: none;
        padding: 5%;
        border-radius: 5px;
        text-transform: uppercase;
        color: black;
      }
      
 .modal-dialog {
        grid-column: 3;
        grid-row: 2;
        /*cacher la fenetre modale*/
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        
          }
      
      /*afficher la fenetre modale au clique*/
     .modal-dialog:target {
          visibility: visible;
          opacity: 1;
     }

      .modal-content {
         padding-top: 5%;
         padding-bottom: 30%;
         width: 500px;
         font-size: 25px;
         border: #55a630 solid 5px;
         background: linear-gradient(15deg, #bfd200, #dde5b6);
         color: black;
     }
                 
     .modal-close {
        position: absolute;
        margin-left: 50%;
        top: 70%;
        text-decoration: none;
        color: black;
        font-size: 35px;
      }

      #regles{
          grid-column: 4;
          grid-row: 1;
          font-size: 15px;
          font-style: bold;
          color: #000000;
          padding: 0;
          margin: 0;
      }

    @media screen and (max-width: 500px) {
        ul img { animation: none;width: 50px ; /*padding-right: 20%*/};
        *{ font-size: 15px; };
        #joueur1{ width: 50%; margin-top: 50%};
        #joueur2{ width: 50%; margin-top: 50%};
        .modal-dialog{ padding-top: 3% ;};
        .modal-content{font-size: 7PX; margin: 0; padding: 0;}
        .modal-close{font-size: 15PX;}
        /*#round1{font-size: 12px;};
        #round2{font-size: 12px;};*/
        .header{margin-top: 0;}
        #newgame{font-size: 10px;}
        
        }