html{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;

    
}

body{
    background-color: black;
    
    
}
.container-grid{
    height: 100;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 32% 16% 32% 10%;
    grid-template-rows: 10% 45% 10% 10% 10%;
    justify-items: center;
    background-color: black;
    
      
}


.header{
    grid-column-end: 4;
    grid-row: 1;
    
   
}
.new-game{
    justify-items: end;
    margin-top: 20%;
    
}
.player1{
    grid-column-end: 3;
    grid-row-start: 2;
    color: white;
    text-align: center;
    font-size: 35px;
    
}
.player2{
    grid-column-start: 4;
    grid-row-start: 2;
    grid-gap: 10px;
    color: #9b2226;
    text-align: center;
    font-size: 35px;    
}
.cube{
    grid-column: 3;
    grid-row: 2;
    position:absolute;
    z-index: 2;
}
.roll{ 
    grid-column-start: 3;
    grid-row-start: 3;
}
.hold{
    grid-column-start: 3;
    grid-row-start: 5; 
}
#round1{
    grid-column-start: 2;
    grid-row: 5;
    color: #ee9b00;
    font-size: 35px;  
    padding-top: 2%; 
}
#round2{
    grid-column-start: 4;
    grid-row: 5;
    align-items: end;
    color: #ee9b00;
    font-size: 35px;
    padding-top: 2%;
}

.score-global1{
    font-size: 250% ;
    color: white;
    grid-column: 2;
    grid-row: 3;
    padding-top: 2%;
}
.score-global2{
    font-size: 250%;
    color: #9b2226;
    grid-column: 4;
    grid-row: 3;
    padding-top: 2%;
}

.audio{
    grid-column-start: 5;
    grid-row-end: 6 ;
    color: black;
}
button{
    box-shadow: 0 0 10px gray;
}

:hover,
:focus,
:active,
:visited,
:link
{
    text-decoration: none;
    color: white;
}
#roll{
    background-color: #9b2226;
    border-radius: 10%;
    
}




#hold{
    background-color: #ee9b00;
}
#header{
    background-color: #0a9396;
}

audio{
    height: 10vh;
    width: 20vh;
}
.diablotin{
    box-shadow: 0 0 35px #9b2226;
    border-radius: 9%;
    padding-right: 1%;
    
}
.ange{
    box-shadow: 0 0 35px white;
    border-radius: 9%;
}
