html{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;

    
}

#backround{
    /*background-image: url(https://freesvg.org/img/Rhombus-seamless-pattern.png);*/
    background-position: center;
    /*background-color: black;*/
    z-index: 0;

}

.container-grid{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 15% 40% 15% 1fr;
    grid-template-rows: 10% 45% 15% 10% 10% auto;
    justify-items: center;
    z-index: 7;
                
}

.header{
    grid-column-end: 4;
    grid-row: 1;
    
   
}
.new-game{
    justify-items: end;
    margin-top: 20%;
    background-color: #454955;
    color: white;
    
}

#newgame
:hover,
:focus,
:active,
:visited,
:link
{
    text-decoration: none;
    color: white;
    
}
a #modal{
    color: white;
}
.player1{
    grid-column-end: 3;
    grid-row-start: 2;
    color: #0d0a0b;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    
}
.player2{
    grid-column-start: 4;
    grid-row-start: 2;
    grid-gap: 10px;
    color: #0d0a0b;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
     
}

#body{
    grid-column-start:3;
    grid-row-start: 2;
    grid-row-end: 7;
    z-index: 2;
    margin: 0%;
    padding-top: 10%; 
    margin: 0;
    

}


ul img {
    list-style: none;
    grid-column-end: 2;
    grid-row-start: 2;
    animation: myAnim 2s linear 0s forwards;
    transition-property: opacity;
    transition-duration: 10s, 5s;
    display: flex;
    justify-content: start;
    padding: 0;

    }

    @keyframes myAnim {
        from { 
            
            transform: translateX(-50px) rotate(0);
                
        }
            to {
                transform: translateX(150px) rotate(0.8turn);
                
                
                
                
            }
            
           
        }
    
/*bouton roll1*/
#roll1{ 
    background-color: #3f7d20;
    border-radius: 10%;
    margin-top: 2%;
    
}
.roll1{
    grid-column-start: 2;
    grid-row-start: 6;
    
    
    
}
/*bouton roll2*/
#roll2{
    background-color: #3f7d20;
    border-radius: 10%;
    margin-top: 2%;
    color: black;
    

}
.roll2{
    grid-column-end: 5;
    grid-row-start: 6;
    
    
    
}
/*BOUTONS RECOLTER*/
#hold1{
    
    Background-color: black;
    color: #3f7d20;
}

#hold2{
    
    Background-color: black;
    color: #3f7d20;
}

.hold1{
    grid-column-start: 2;
    grid-row-end: 5; 
    padding-bottom: 15%;
    color: #0d0a0b;
    font-weight: bold;
}
.hold2{
    grid-column-start: 4;
    grid-row-end:5;
    padding-bottom: 15%;
    color: #0d0a0b;
    font-weight: bold;

}

#round1{
    grid-column-start: 2;
    grid-row: 5;
    color: #3f7d20;
    font-weight: bold;
    font-size: 20px;  
    
}
#message1{
    font-size: 20px;
}
#round2{
    grid-column-start: 4;
    grid-row: 5;
    align-items: end;
    color: #3f7d20;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10%;
    
}
#message2{
    font-size: 20px;
}
.score-global1{
    font-size: 20px;
    color: #3f7d20;
    font-weight: bold;
    grid-column: 2;
    grid-row-start: 3;
    
    
}

#messageglobal2{
    font-size: 20px;
}

#messageglobal1{
    font-size: 20px;
}
.score-global2{
    font-size: 20px;
    color: #3f7d20;
    font-weight: bold;
    grid-column: 4;
    grid-row: 3;
    
}


button{
    box-shadow: 0 0 10px gray;
}

:hover,
:focus,
:active,
:visited,
:link
{
    text-decoration: none;
    color: #0d0a0b;
}




audio{
    height: 10vh;
    width: 20vh;
}
#joueur2{
    box-shadow: 0 0 35px #3f7d20;
    border-radius: 9%;
    padding-right: 1%;
    
}
#joueur1{
    box-shadow: 0 0 35px #3f7d20;
    border-radius: 9%;
}


/*modal pour le joueur actif*/

.modal a {
        text-decoration: none;
        padding: 5%;
        border-radius: 5px;
        text-transform: uppercase;
        color: black;
      }
      
      /**/
 .modal-dialog {
        grid-column: 3;
        grid-row: 2;
        /*cacher la fenetre modale*/
        visibility: hidden;
        opacity: 0;
        /*position absolute*/
        position: absolute;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        

      }
      
      /*afficher la fenetre modale au clique*/
     .modal-dialog:target {
          visibility: visible;
          opacity: 1;
     }
      .modal-content {
        margin: 7%;
         padding: 5%;
         width: 500px;
         border: #3f7d20 solid 5px;
         background: linear-gradient(15deg, #0d0a0b, #3f7d20);
         color: white;
        
     }
         
                 
     .modal-close {
        position: absolute;
        margin-left: 50%;
        top: 75%;
        text-decoration: none;
        color: white;
       
      }

      #regle{
          grid-column: 4;
          grid-row: 1;
          font-size: 15px;
      }

    @media screen and (max-width: 500px) {
        *{ font-size: 10px;}
        img{ height: 50% ; overflow-block: backdrop }
        }